<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Nossos Projetos de Games</h1>
    </div>
  </div>
  
  <div class="row align-items-end">
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>O Processo (1920)</mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip>Kafka</mat-chip>
                 </mat-chip-list>
                 <iframe width="300" height="300" src="https://www.youtube.com/embed/9Y1uC2j4Wts"></iframe>

          O Processo (no original em alemão, Der Prozess) é um romance do escritor checo Franz Kafka, que conta a história de Josef K., que acorda certa manhã, e é processado e sujeito a longo e incompreensível processo por um crime não especificado.
Segundo Max Brod, amigo pessoal de Kafka, o livro permaneceu inacabado como estava quando Kafka lhe entregou os escritos, em 1920. Após sua morte, Brod editou O Processo pelo que ele julgou um romance coerente e o publicou em 1925.
Adaptações para o cinema foram feitas como The Trial, do diretor Orson Welles, com Anthony Perkins no papel de Josef K. Em 1999, o artista italiano Guido Crepax fez a adaptação do romance para os quadrinhos.
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://pt.wikipedia.org/wiki/O_Processo" target="_blank">
            <i class="fa fa-book fa-lg"></i> Livro
          </a>
          </mat-card-actions>
      </mat-card>
    </div>

    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>Assim Falou Zaratustra - escrito entre 1883 e 1885</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Nietzsche</mat-chip>
             </mat-chip-list>
             <iframe width="300" height="300" src="https://www.youtube.com/embed/-GQldwwtGn0"></iframe>
             Assim falou Zaratustra: um livro para todos e para ninguém (em alemão: Also sprach Zarathustra: Ein Buch für Alle und Keinen) é um livro escrito entre 1883 e 1885 pelo filósofo alemão Friedrich Nietzsche, que influenciou significativamente o mundo moderno. O livro foi escrito originalmente como três volumes separados em um período de vários anos. Depois, Nietzsche decidiu escrever outros três volumes mas apenas conseguiu terminar um, elevando o número total de volumes para quatro. Após a morte de Nietzsche, ele foi impresso em um único volume.
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="http://www.ebooksbrasil.org/adobeebook/zara.pdf" target="_blank">
            <i class="fa fa-book fa-lg"></i> Livro
          </a>
          <a mat-button href="http://www.ebooksbrasil.org/adobeebook/zara.pdf" target="_blank">
            <i class="fa fa-book fa-lg"></i> Fotos do Game
          </a>
         </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>Os Irmãos Karamazov - (1879)</mat-card-title>
        <mat-chip-list>
            <mat-chip>Dostoiévski</mat-chip>
             </mat-chip-list>
        <mat-card-subtitle>
            <iframe width="300" height="300" src="https://www.youtube.com/embed/r5roj9lba3E"></iframe>
            Os Irmãos Karamazov: é um romance de Fiódor Dostoiévski, escrito em 1879, uma das mais importantes obras das literaturas russas e mundiais, ou, conforme afirmou Freud: "a maior obra da história". Freud considera esse romance, juntamente com Édipo Rei e Hamlet, três importantes livros a respeito do embate pai e filho, e retratam o complexo de Édipo.
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="http://lelivros.love/book/baixar-livro-os-irmaos-karamazov-fiodor-dostoievski-em-pdf-epub-e-mobi-ou-ler-online/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Livro
          </a>
          </mat-card-actions>
      </mat-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-title>Dom Quixote - (1547-1616)</mat-card-title>
        <mat-chip-list>
            <mat-chip>Miguel de Cervantes</mat-chip>
             </mat-chip-list>
        <mat-card-subtitle>
            <iframe width="300" height="315" src="https://www.youtube.com/embed/Mi2lA8GTGxA"></iframe>
        </mat-card-subtitle>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>

    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
        <mat-card>
          <mat-card-title>Memórias Póstumas de Brás Cubas (1881)</mat-card-title>
          <mat-chip-list>
              <mat-chip>Machado de Assis</mat-chip>
               </mat-chip-list>
          <mat-card-subtitle>
              <iframe width="300" height="300" src="https://www.youtube.com/embed/zkfD937k32A"></iframe>
          </mat-card-subtitle>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    
      <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
          <mat-card>
            <mat-card-title>Macunaíma é um romance de 1928</mat-card-title>
            <mat-chip-list>
                <mat-chip>Mário de Andrade</mat-chip>
                 </mat-chip-list>
            <mat-card-subtitle>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/m5LAowLiNkU" ></iframe>
            </mat-card-subtitle>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
</div>


<iframe src="https://mulher-br.firebaseapp.com" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" ></iframe>
