<div class="background">
  <!--<div class="gradient">-->
   <div class="container">
  
         
<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
   <!-- BOTÕES -->
   <div class="button-row">
    <a matTooltip="Como nos encontrar ? web2ajax@gmail.com, Trabalhe na BooksGames-Br" matTooltipPosition="below">
        <button mat-fab color="primary" routerLink="../contato">
  
    <i class="material-icons">mail_outline</i>
    BooksGames-Br
    Contato
       </button>
    </a>

  <p>
      <a matTooltip="Whats" matTooltipPosition="below">
          <a mat-fab  color="primary" href="https://chat.whatsapp.com/614Mu0z6nzWFaIlbc68zC8" target="_blank">
            <i class="material-icons">settings_cell</i>
            BooksGames-Br
Convite de Grupo do WhatsApp
           </a>
      </a>           
     </p>
    <br>
    </div>

  
   <!--FIM BOTÕES -->

        <a matTooltip="No fundo do mato-virgem nasceu Macunaíma, herói de nossa
        gente. Era preto retinto e filho do medo da noite. Houve um momento
        em que o silêncio foi tão grande escutando o murmurejo do
        Uraricoera, que a índia, tapanhumas pariu uma criança feia. Essa
        criança é que chamaram de Macunaíma." matTooltipPosition="below">
            <a mat-raised-button color="primary" href="https://macunaima-demo1.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
         ((  Macunaíma Demo 1 ))
         <img src="./assets/muri.jpg" alt="Macunaíma" height="100" width="100">
          </a>
        </a>           
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbooksgames-br.firebaseapp.com%2F%23%2Fabout&layout=button_count&size=small&mobile_iframe=true&appId=2133068476977208&width=210&height=50" width="210" height="50" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
   
        <a matTooltip="Grande Sertão: Veredas é um livro de João Guimarães Rosa escrito em 1956. Pensado inicialmente como uma das novelas do livro Corpo de Baile, lançado nesse mesmo ano de 1956, cresceu, ganhou autonomia e tornou-se um dos mais importantes livros da literatura brasileira e da literatura lusófona. No mesmo ano, Rosa também lançou a quarta edição revista de Sagarana. Em 2006 o Museu da Língua Portuguesa realizou uma exposição sobre a obra no Salão de Exposições Temporárias, cujas fotos ilustram o artigo. Em maio de 2002, o Clube do Livro da Noruega, entidade que congrega editores noruegueses, incluiu Grande Sertão: Veredas em sua lista dos cem melhores livros de todos os tempos - único brasileiro entre 100 escritores de 54 países. [3].
        A grandiosidade de Grande Sertão: Veredas pode ser exemplificada pelas interpretações, que a abordam sob os mais variados pontos de vista, sem jamais deixar de ressaltar a capacidade e a confiança do autor ao ser inventivo. Extremamente erudito, Rosa incorporou em sua obra aspectos das mais diferentes culturas. Disse uma vez que “para estas duas vidas [viver e escrever], um léxico só não é suficiente”[4]." matTooltipPosition="below">
            <a mat-raised-button color="primary" href="https://sistema-ximbo.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
         ((  Grande Sertão 2D ))
         <img src="./assets/grandes_certoes.jpg" alt="Macunaíma" height="100" width="100">
          </a>
        </a>           
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbooksgames-br.firebaseapp.com%2F%23%2Fabout&layout=button_count&size=small&mobile_iframe=true&appId=2133068476977208&width=210&height=50" width="210" height="50" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
   
     
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-1">
     
    <div class="col-md-12 col-lg-4">
  
      <p>
    
        <iframe width="800" height="400" src="https://www.youtube.com/embed/videoseries?list=PLEk4GUD8QoXlVFgMrwiI38kYkk-Fq4Jw_" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>

  