<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="actions">

    <div  class="col-md-10 col-lg-20" [ngClass]="animateOnRouteEnter">
        <mat-card>
          <mat-card-title>Jogue de Graça por enquanto :-) </mat-card-title>
              <mat-card-subtitle>
              <a matTooltip="Jogo Macunaíma 2D, baseado na obra de Mário de Andrade." matTooltipPosition="below">
                  <a mat-raised-button color="primary" href="https://macunaima-game.firebaseapp.com" target="_blank">
                   
                    <i class="material-icons">videogame_asset</i>
               ((  Macunaíma 2D ))
                </a>
              </a>
              <a matTooltip="Ação e aventura espacial" matTooltipPosition="below">
    
                  <a mat-raised-button href="https://mulher-br.firebaseapp.com" target="_blank">
                    <i class="material-icons">videogame_asset</i>
                 Giulia 2D
                </a>
              </a>

              <a matTooltip="Ação e aventura !" matTooltipPosition="below">
                    <a mat-raised-button href="https://castelo-br.firebaseapp.com" target="_blank">
                  <i class="material-icons">videogame_asset</i>
               Segunda Pessoa 3D
              </a>
            </a>

            <a matTooltip="Ação e aventura, Um Programador frustado em um Apocalipse Zumbi tenta achar sua esposa !" matTooltipPosition="below">
                  <a mat-raised-button href="https://puta666.firebaseapp.com" target="_blank">
                <i class="material-icons">videogame_asset</i>
             Herick Developer 3D
            </a>
          </a>

              <a matTooltip="Ação e aventura Snipper !" matTooltipPosition="below">
                    <a mat-raised-button href="https://lourranio-br.firebaseapp.com" target="_blank">
                    <i class="material-icons">videogame_asset</i>
                 Lourranio Snipper 3D
                </a>
              </a>

              <a matTooltip="Ação e aventura BUSCA PT !" matTooltipPosition="below">
                  <a mat-raised-button href="https://ditadura-toga.firebaseapp.com" target="_blank">
                  <i class="material-icons">videogame_asset</i>
               Busca PT 3D
              </a>
            </a>

              <a matTooltip="Uma corrida contra inteligência artificial" matTooltipPosition="below">
                  <a mat-raised-button href="https://carro369x.firebaseapp.com" target="_blank">
                    <i class="material-icons">videogame_asset</i>
                 Corrida IA 3D
                </a>
              </a>

              <a matTooltip="FPS com gráficos reais" matTooltipPosition="below">
                  <a mat-raised-button href="https://liviazumbi-br.firebaseapp.com" target="_blank">
                    <i class="material-icons">videogame_asset</i>
                 FPS 3D
                </a>
                </a>

                <a matTooltip="Um pequeno DEMO" matTooltipPosition="below">
                    <a mat-raised-button href="https://macunaima-demo1.firebaseapp.com" target="_blank">
                      <i class="material-icons">videogame_asset</i>
                   Curumim 2D
                  </a>
                  </a>

                  
                  <a matTooltip=" Assim Falou Zaratustra Capítulo 1 - 3D " matTooltipPosition="below">
                      <a mat-raised-button href="https://zaratustra-demo.firebaseapp.com" target="_blank">
                        <i class="material-icons">videogame_asset</i>
                     Assim Falou Zaratustra Capítulo 1 - 3D 
                    </a>
                    </a>
                     <a matTooltip="Assim Falou Zaratustra Capítulo 2 - 3D " matTooltipPosition="below">
                          <a mat-raised-button href="https://zaratustra-demo1.firebaseapp.com" target="_blank">
                            <i class="material-icons">videogame_asset</i>
                         Assim Falou Zaratustra Capítulo 2 - 3D 
                        </a>
                        </a>
                         <a matTooltip="Assim Falou Zaratustra Capítulo 3 - 3D " matTooltipPosition="below">
                              <a mat-raised-button href="https://zaratustra-demo3.firebaseapp.com" target="_blank">
                                <i class="material-icons">videogame_asset</i>
                             Assim Falou Zaratustra Capítulo 3 - 3D 
                            </a>
                            </a>
                            <a matTooltip="Assim Falou Zaratustra Capítulo 4 - 3D " matTooltipPosition="below">
                                <a mat-raised-button href="https://zaratustra-demo4.firebaseapp.com" target="_blank">
                                  <i class="material-icons">videogame_asset</i>
                               Assim Falou Zaratustra Capítulo 4 - 3D 
                              </a>
                              </a>
                             


          </mat-card-subtitle>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
      
  </div>
     
        <!-- BOTÕES -->
      <div class="button-row">
         <a matTooltip="Como nos encontrar ? web2ajax@gmail.com, Trabalhe na BooksGames-Br" matTooltipPosition="below">
             <button mat-fab color="primary" routerLink="../contato">
         <i class="material-icons">mail_outline</i>
            </button>
         </a>

        </div>
        <!--FIM BOTÕES -->
        <div class="container">
          <div class="row">
           </div>
      
          
         </div>
      
    </div>
  </div>
</div>