<div class="background">
  <!--<div class="gradient">-->
   <div class="container">
  
         
<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
   <!-- BOTÕES -->
   <div class="button-row">
    <a matTooltip="Como nos encontrar ? web2ajax@gmail.com, Trabalhe na BooksGames-Br" matTooltipPosition="below">
        <button mat-fab color="primary" routerLink="../contato">
    <i class="material-icons">mail_outline</i>
       </button>
    </a>

   </div>
   <!--FIM BOTÕES -->
      <p>
        <a matTooltip="No fundo do mato-virgem nasceu Macunaíma, herói de nossa
        gente. Era preto retinto e filho do medo da noite. Houve um momento
        em que o silêncio foi tão grande escutando o murmurejo do
        Uraricoera, que a índia, tapanhumas pariu uma criança feia. Essa
        criança é que chamaram de Macunaíma." matTooltipPosition="below">
            <a mat-raised-button color="primary" href="https://macunaima-demo1.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
         ((  Macunaíma 2D ))
         <img src="./assets/muri.jpg" alt="Macunaíma" height="100" width="100">
          </a>
        </a>           
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbooksgames-br.firebaseapp.com%2F%23%2Fabout&layout=button_count&size=small&mobile_iframe=true&appId=2133068476977208&width=210&height=50" width="210" height="50" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
   
      </p>
      <br>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-1">
     
    <div class="col-md-12 col-lg-4">
  
      <p>
    
        <iframe width="800" height="400" src="https://www.youtube.com/embed/videoseries?list=PLEk4GUD8QoXlVFgMrwiI38kYkk-Fq4Jw_" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
