<div class="background">
 <!-- <div class="gradient">-->
    <div class="container">

      <!-- BOTÕES -->

      <mat-card-title>Jogue de Graça por enquanto :-) </mat-card-title>
      <mat-card-subtitle>
        <a matTooltip="Jogo Macunaíma 2D, baseado na obra de Mário de Andrade." matTooltipPosition="below">
          <a mat-raised-button color="primary" href="https://macunaima-demo1.firebaseapp.com" target="_blank">

            <i class="material-icons">videogame_asset</i>
            (( Macunaíma 2D ))
          </a>
        </a>
        <a matTooltip="Ação e aventura espacial" matTooltipPosition="below">

          <a mat-raised-button href="https://mulher-br.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Giulia 2D
          </a>
        </a>

        <a matTooltip="Ação e aventura !" matTooltipPosition="below">
          <a mat-raised-button href="https://castelo-br.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Segunda Pessoa 3D
          </a>
        </a>

        <a matTooltip="Ação e aventura, Um Programador frustado em um Apocalipse Zumbi tenta achar sua esposa !" matTooltipPosition="below">
          <a mat-raised-button href="https://puta666.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Herick Developer 3D
          </a>
        </a>

        <a matTooltip="Ação e aventura Snipper !" matTooltipPosition="below">
          <a mat-raised-button href="https://lourranio-br.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Lourranio Snipper 3D
          </a>
        </a>

        <a matTooltip="Ação e aventura BUSCA PT !" matTooltipPosition="below">
          <a mat-raised-button href="https://ditadura-toga.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Busca PT 3D
          </a>
        </a>

        <a matTooltip="Uma corrida contra inteligência artificial" matTooltipPosition="below">
          <a mat-raised-button href="https://carro369x.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Corrida IA 3D
          </a>
        </a>

        <a matTooltip="FPS com gráficos reais" matTooltipPosition="below">
          <a mat-raised-button href="https://liviazumbi-br.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            FPS 3D
          </a>
        </a>

        <a matTooltip="Um pequeno DEMO" matTooltipPosition="below">
          <a mat-raised-button href="https://macunaima-demo1.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Curumim 2D
          </a>
        </a>


        <a matTooltip=" Assim Falou Zaratustra Capítulo 1 - 3D " matTooltipPosition="below">
          <a mat-raised-button href="https://zaratustra-demo.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Assim Falou Zaratustra Capítulo 1 - 3D
          </a>
        </a>
        <a matTooltip="Assim Falou Zaratustra Capítulo 2 - 3D " matTooltipPosition="below">
          <a mat-raised-button href="https://zaratustra-demo1.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Assim Falou Zaratustra Capítulo 2 - 3D
          </a>
        </a>
        <a matTooltip="Assim Falou Zaratustra Capítulo 3 - 3D " matTooltipPosition="below">
          <a mat-raised-button href="https://zaratustra-demo3.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Assim Falou Zaratustra Capítulo 3 - 3D
          </a>
        </a>
        <a matTooltip="Assim Falou Zaratustra Capítulo 4 - 3D " matTooltipPosition="below">
          <a mat-raised-button href="https://zaratustra-demo4.firebaseapp.com" target="_blank">
            <i class="material-icons">videogame_asset</i>
            Assim Falou Zaratustra Capítulo 4 - 3D
          </a>
        </a>



      </mat-card-subtitle>
      <mat-card-actions>
      </mat-card-actions>

      <!--FIM BOTÕES -->
      <div class="container">
        <div class="row">
        </div>

        <div class="row align-items-end">

          <div class="col-md-10 col-lg-6" [ngClass]="animateOnRouteEnter">

            <mat-card-actions>

              <a matTooltip="Graphic Designer Giulia Naranjo Aranha: aranha.gn@gmail.com , 
                  Biologia Molecular / Engenharia Genética (M.Sc.)
                  Universidade Federal do Rio de Janeiro   Universidade Federal do Rio de Janeiro
                  Araruama Area, Brasil" matTooltipPosition="below" href="https://www.facebook.com/christine.n.aranha">
                <img src="../assets/aranha.jpg" style="width:90px;height:90px;">
              </a>

              <a matTooltip="Graphic Designer Tatiana Maslyuk: tatiana.maslyuk.n@gmail.com, Rússia" matTooltipPosition="below" href="https://www.facebook.com/profile.php?id=100011140519160">
                <img src="../assets/tania.jpg" style="width:90px;height:90px;">
              </a>

              <a matTooltip="Desainer HTML5, CSS3, Udemy,  
                  Paula Silvane Vonsosvicz: paula.psv352400@gmail.com, Phone: 
                  (47) 98447-9550/ (47) 99790-3076, Area Brazil" matTooltipPosition="below">
                <img src="../assets/p.jpg" style="width:90px;height:90px;">
              </a>

              <a matTooltip="Desenvolvedor Artista C#, Java, React, Deividy Metheler Zachetti: 
                  deividyz@gmail.com, Brasil" matTooltipPosition="below" href="https://www.facebook.com/deividyz">
                <img src="../assets/d.jpg" style="width:90px;height:90px;">
              </a>

              <a matTooltip="Desenvolvedor C#, Unity, João Paulo Duarte: nenod2@gmail.com,
                   Area, Brasil" matTooltipPosition="below" href="https://www.facebook.com/ismael.martins.160">
                <img src="../assets/jp.jpg" style="width:90px;height:90px;">
              </a>


              <a matTooltip="Desenvolvedor Java, JavaScript, Dart, Python, R, C#, Unity, 
                  Machine Learning, Angular5 Junior Ferreira: web2ajax@gmail.com, Area, Brasil , Uruguay" matTooltipPosition="below"
                href="https://www.facebook.com/junior.osho">
                <img src="../assets/jr.jpg" style="width:90px;height:90px;">
              </a>


              <a matTooltip="Gestor de Projetos, Lourrânio Simões - 
                   lourranio.simoes@gmail.com, Area,
                   Brasil" matTooltipPosition="below" href="">
                <img src="../assets/lo.jpg" style="width:90px;height:90px;">
              </a>

              <a matTooltip="Desenvolvedor C#, Unity, Roberto Franca Duarte - 
                  arcadecodex@gmail.com, Area,
                  Brasil" matTooltipPosition="below" href="">
                <img src="../assets/roberto.jpg" style="width:90px;height:90px;">
              </a>
            </mat-card-actions>
          </div>

          <div [ngClass]="animateOnRouteEnter">
            <mat-card>
              <mat-card-title>Contato</mat-card-title>
              <div class="container">
                <div class="row align-items-end">
                  <div [ngClass]="animateOnRouteEnter">
                    <mat-card>
                      <div class="example-container">
                        <mat-form-field>
                          <textarea [(ngModel)]="mensagem" matInput placeholder="Mensagem"></textarea>
                        </mat-form-field>
                      </div>
                      <button mat-button (click)="createContato()">Start Game
                        <i class="material-icons">mail_outline</i>
                      </button>
                    </mat-card>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>

          <div [ngClass]="animateOnRouteEnter">
              <mat-card>
                <mat-card-title>Qual Melhor Game ?</mat-card-title>
                <div class="container">
                  <div class="row align-items-end">
                    <div [ngClass]="animateOnRouteEnter">
                      <mat-card>
                        <div class="example-container">
                          <mat-form-field>
                            <textarea [(ngModel)]="mensagem" matInput placeholder="Mensagem"></textarea>
                          </mat-form-field>
                        </div>
                        <button mat-button (click)="createContato()">Start Game
                          <i class="material-icons">mail_outline</i>
                        </button>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>

        </div>
      </div>
    </div>
  </div>