<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="actions">
   <!-- 
        <a matTooltip="Vamos iniciar a diversão !" matTooltipPosition="below">
          <a mat-raised-button color="accent" routerLink="../examples" [ngClass]="animateOnRouteEnter">
            <i class="material-icons">pan_tool</i>
            Sala de Aula
          </a>
         </a>
      
        <a matTooltip="O Processo, Mahabharata, Livro do Mortos Tibetanos, 
          A Divina Comédia, Utopia, Sidarta, O Pequeno Príncipe, Madame Bovary,
          O Fantasma da Ópera, Os Miseráveis, As Flores do Mal, Os Irmãos Karamazov
          Dom Quixote, Hamlet, Os Sofrimentos do Jovem Werther, Madame Bovary, Os Três Mosqueteiros,
          A Comédia Humana, Guerra e Paz, Metamorfose, Arte da Guerra, O Idiota, O Velho e o Mar" matTooltipPosition="below">
        <a [ngClass]="animateOnRouteEnter" mat-raised-button color="primary" routerLink="../features">
          <i class="material-icons">toys</i>
          Demo Maunaima
        </a>
        </a> 
        
       
    
       <a matTooltip="Teste um Game.." matTooltipPosition="below">
          <a mat-raised-button routerLink="../settings" [ngClass]="animateOnRouteEnter">
            <i class="material-icons">videogame_asset</i>
          Jogar Vários Games
        </a>
      </a>-->

      <a matTooltip="Teste um Game.." matTooltipPosition="below">
        <a mat-raised-button routerLink="../settings" [ngClass]="animateOnRouteEnter">
          <i class="material-icons">videogame_asset</i>
       DEMO MACUNAÍMA
      </a>
    </a>
     
      </div>
     
        <!-- BOTÕES -->
      <div class="button-row">
         <a matTooltip="Como nos encontrar ? web2ajax@gmail.com, Trabalhe na BooksGames-Br" matTooltipPosition="below">
             <button mat-fab color="primary" routerLink="../contato">
         <i class="material-icons">mail_outline</i>
            </button>
         </a>

            <button mat-icon-button color="warn">
              <mat-icon >android</mat-icon>
            </button>

            <a matTooltip="issue" matTooltipPosition="below">
                <button mat-fab color="primary" routerLink="../issue">
                  <i class="material-icons">bug_report</i>
                </button>
            </a>

            <a matTooltip="Dúvidas Técnicas, entre em contato via Slack" 
                   href="https://booksgames-br.slack.com/messages" matTooltipPosition="below">
                <button mat-icon-button color="warn">
                   <mat-icon >favorite</mat-icon>
                </button>
            </a>

        </div>
        <!--FIM BOTÕES -->
        <div class="container">
          <div class="row">
           </div>
      
          <div class="row align-items-end">
      
            <div  class="col-md-10 col-lg-8" [ngClass]="animateOnRouteEnter">
              <mat-card>
                <mat-card-actions>
      
                  <a matTooltip="Graphic Designer Giulia Naranjo Aranha: aranha.gn@gmail.com , 
                  Biologia Molecular / Engenharia Genética (M.Sc.)
                  Universidade Federal do Rio de Janeiro   Universidade Federal do Rio de Janeiro
                  Araruama Area, Brasil"
                  matTooltipPosition="below" href="https://www.facebook.com/christine.n.aranha">
                  <img src="../assets/aranha.jpg" style="width:90px;height:90px;">
                  </a>
          
                  <a matTooltip="Graphic Designer Tatiana Maslyuk: tatiana.maslyuk.n@gmail.com, Rússia"
                  matTooltipPosition="below" href="https://www.facebook.com/profile.php?id=100011140519160">
                  <img src="../assets/tania.jpg" style="width:90px;height:90px;">
                  </a>
          
                  <a matTooltip="Desainer HTML5, CSS3, Udemy,  
                  Paula Silvane Vonsosvicz: paula.psv352400@gmail.com, Phone: 
                  (47) 98447-9550/ (47) 99790-3076, Area Brazil"
                  matTooltipPosition="below">
                  <img src="../assets/p.jpg"  style="width:90px;height:90px;">
                  </a>
          
                  <a matTooltip="Desenvolvedor Artista C#, Java, React, Deividy Metheler Zachetti: 
                  deividyz@gmail.com, Brasil"
                  matTooltipPosition="below" href="https://www.facebook.com/deividyz">
                  <img src="../assets/d.jpg" style="width:90px;height:90px;">
                  </a>
                 
                  <a matTooltip="Desenvolvedor C#, Unity, João Paulo Duarte: nenod2@gmail.com,
                   Area, Brasil"
                  matTooltipPosition="below" href="https://www.facebook.com/ismael.martins.160">
                  <img src="../assets/jp.jpg"  style="width:90px;height:90px;">
                  </a>
          
              
                  <a matTooltip="Desenvolvedor Java, JavaScript, Dart, Python, R, C#, Unity, 
                  Machine Learning, Angular5 Junior Ferreira: web2ajax@gmail.com, Area, Brasil , Uruguay"
                  matTooltipPosition="below" href="https://www.facebook.com/junior.osho">
                  <img src="../assets/jr.jpg"  style="width:90px;height:90px;">
                  </a>
                            
          
                  <a matTooltip="Gestor de Projetos, Lourrânio Simões - 
                   lourranio.simoes@gmail.com, Area,
                   Brasil"
                  matTooltipPosition="below" href="">
                  <img src="../assets/lo.jpg"  style="width:90px;height:90px;">
                  </a>
          
                  </mat-card-actions>
              </mat-card>
            </div>
        
      <div [ngClass]="animateOnRouteEnter">
              <mat-card>
                  <mat-card-title>De sua Opinião</mat-card-title>
        
        <div class="container">

          <div class="row align-items-end">
            <div [ngClass]="animateOnRouteEnter">
          <mat-card>
        
          <div class="example-container">
             <mat-form-field>
              <textarea [(ngModel)]="mensagem" matInput placeholder="Mensagem"></textarea>
             </mat-form-field>
            
          </div>
          
          <button mat-button (click)="createContato()">Start Game
              <i class="material-icons">mail_outline</i>
          </button>
        </mat-card>
        </div>
        </div>
        </div>
      
              </mat-card>
            </div>
         </div>
      
    </div>
  </div>
</div>